<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="main.js"></script>
    <%-include('./partials/navbar')%>
</head>

<body>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Level</th>
                <th scope="col">Species</th>
                <th scope="col">Type</th>
                <th scope="col">Hp</th>
                <th scope="col">Attack</th>
                <th scope="col">Defence</th>
                <th scope="col">Speed</th>
                <th scope="col">Option</th>

            </tr>
        </thead>
        <tbody>
            <%if (trade !== []){%>
            <%trade.forEach((el,i)=>{ %>
            <%if(el.TrainerId !== TrainerId && el.PokemonIdFriend == null ){ %>
            <tr>
                <th scope="row"><%=i+1%></th>
                <td><%=el.PokemonUser.name%></td>
                <td><%=el.PokemonUser.level%></td>
                <td><%=el.PokemonUser.species%></td>
                <td><%=el.PokemonUser.type%></td>
                <td><%=el.PokemonUser.hp%></td>
                <td><%=el.PokemonUser.attack%></td>
                <td><%=el.PokemonUser.defence%></td>
                <td><%=el.PokemonUser.speed%></td>
                <td><a href="/trainer/bid/<%=el.PokemonIdUser%>/<%=el.id%>">bid</a></td>
            </tr>
            <% } %>
            <% }) %>
            <%}else {%>
            <tr>
                <th scope="row">
                    <empty>
                </th>
                <td>
                    <h1>empty</h1>
                    <-empty->
                </td>
                <td>
                    <-empty->
                </td>
                <td>
                    <-empty->
                </td>
                <td>
                    <-empty->
                </td>
                <td>
                    <-empty->
                </td>
                <td>
                    <-empty->
                </td>
                <td>
                    <-empty->
                </td>
                <td>
                    <-empty->
                </td>
            </tr>
            <%}%>
            </tbody>
        </table>

        <!-- <form method="POST" action="/trainer/search/trade">
            Search:
            <select name="searchField" class="btn btn-warning background-color:black">
                <option value="name">Nickname</option>
                <option value="species">Species</option>
            </select>
            <input name="searchValue"><br>

            Type:
            <select name="type" class="btn btn-warning background-color:black">
                <% let obj = {}%>
                <% for(let i = 0 ; i < trade.length ; i++) {%>
                <% if(!obj[trade[i].type]) { %>
                <% obj[trade[i].type] = ''%>
                <% } %>
                <% } %>
                <option value="default">default</option>
                <% for(let key in obj){ %>
                <option value="<%- key%>"><%- key%></option>
                <% } %>
            </select><br>

            Stat: 
            <select name="statField" class="btn btn-warning background-color:black">
                <option value="hp">Health Point</option>
                <option value="attack">Attack</option>
                <option value="defence">Defence</option>
                <option value="speed">Speed</option>
            </select>
            <select name="range" class="btn btn-warning background-color:black">
                <option value="atLeast">At least</option>
                <option value="atMost">At most</option>
            </select>
            <input type="number" name="amount" required="true"><br>
            Order:
            <select name="orderField" class="btn btn-warning background-color:black">
                <option value="id">Default</option>
                <option value="name">Nickname</option>
                <option value="level">Level</option>
                <option value="species">Species</option>
                <option value="type">Type</option>
                <option value="hp">Health Point</option>
                <option value="attack">Attack</option>
                <option value="defence">Defence</option>
                <option value="speed">Speed</option>
                <option value="experience">Experience</option>
            </select>
            <select name="orderValue" class="btn btn-warning background-color:black">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select><br>

            <button type="reset" class="btn btn-danger background-color:black"><a
                    href="/trainer/bid">Reset</a></button>
            <button type="submit" class="btn btn-danger background-color:black">Search</button>
        </form> -->

</body>

</html>