<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Into the wilds!</title>
</head>

<body style="
background-image: 
url(/battleBackground.png);
background-repeat: no-repeat;
background-size: cover;
position: relative;
    ">
    <%- include('./partials/navbar') %>
    <div style="position: absolute">
        <img src="/battleGround.png" style="width:102.3em">

        <a href="/trainer/battle/<%- myPokemon.id %>">
            <img style="
        position: absolute;
        top: 10em;
        right: 62em;
        height: 19em;" src="/battle.png">
        </a>

        <a href="/trainer/catch/<%- myPokemon.id %>/<%- pokemon.id %>">
            <img style="
        position: absolute;
        top: 39em;
        height: 16em;
        left: 78em;" src="/pokeball.png">
        </a>

        <img style="
        position: absolute;
        top: 16em;
        right: 17em;
        height: 12em;" src="<%- pokemon.image %>">

        <img style="
        position: absolute;
        top: 34em;
        right: 65em;
        height: 24em;" src="<%- myPokemon.backImage %>">
    </div>
</body>

</html>