<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Pokemon</title>
</head>

<body style="
background-image: url(/background.jpg);
background-repeat: no-repeat;
background-size: cover;
">
    <%- include('./partials/navbar') %>
    <table class="table">
        <tr class="thead-dark">
            <th>No.</th>
            <th>Nickname</th>
            <th>Level</th>
            <th>Species</th>
            <th>Type</th>
            <th>Hp</th>
            <th>Attack</th>
            <th>Defence</th>
            <th>Speed</th>
            <th>Experience</th>
            <th>Activities</th>
        </tr>
        <% for(let i = 0 ; i < pokemons.length ; i++) {%>
        <tr class="table-light">
            <td><%=i + 1%></td>
            <% if(pokemons[i].name) { %>
            <td><%= pokemons[i].name%></td>
            <% } else {%>
            <td><a href="/trainer/name/<%- pokemons[i].id %>">Give Nickname!</a></td>
            <% } %>
            <td><%= pokemons[i].level%></td>
            <td><%= pokemons[i].species%></td>
            <td><%= pokemons[i].type%></td>
            <td><%= pokemons[i].hp%></td>
            <td><%= pokemons[i].attack%></td>
            <td><%= pokemons[i].defence%></td>
            <td><%= pokemons[i].speed%></td>
            <td><%= pokemons[i].experience%></td>
            <td><a href="/trainer/wilds/<%- pokemons[i].id %>">Into the wilds!</a></td>
        </tr>
        <% } %>
    </table>

    <div class="container text-center">
        <div class="row" style="
        color:black; 
        margin: 80px 250px 80px 250px; 
        padding: 40px 80px 40px 80px;
        border: 2px solid;
        background-color:white ;
        border-radius: 15px;
        border-color: #3564AD;
        ">
            <form method="POST" action="/trainer/search/myPokemon">
                Search:
                <select name="searchField" class="btn btn-warning background-color:black">
                    <option value="name">Nickname</option>
                    <option value="species">Species</option>
                </select>
                <input name="searchValue"><br>

                Type:
                <select name="type" class="btn btn-warning background-color:black">
                    <% let obj = {}%>
                    <% for(let i = 0 ; i < pokemons.length ; i++) {%>
                    <% if(!obj[pokemons[i].type]) { %>
                    <% obj[pokemons[i].type] = ''%>
                    <% } %>
                    <% } %>
                    <option value="default">default</option>
                    <% for(let key in obj){ %>
                    <option value="<%- key%>"><%- key%></option>
                    <% } %>
                </select><br>

                Order:
                <select name="orderField" class="btn btn-warning background-color:black">
                    <option value="id">Default</option>
                    <option value="name">Nickname</option>
                    <option value="level">Level</option>
                    <option value="species">Species</option>
                    <option value="type">Type</option>
                    <option value="hp">Health Point</option>
                    <option value="attack">Attack</option>
                    <option value="defence">Defence</option>
                    <option value="speed">Speed</option>
                    <option value="experience">Experience</option>
                </select>
                <select name="orderValue" class="btn btn-warning background-color:black">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select><br>

                <button type="reset" class="btn btn-danger background-color:black"><a
                        href="/trainer/myPokemon">Reset</a></button>
                <button type="submit" class="btn btn-danger background-color:black">Search</button>
            </form>
        </div>


</body>

</html>