<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Pokemon</title>
</head>

<body>
    <%- include('./partials/navbar') %>
    <% if(locals.login === true) {%>
    <table border="1">
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Level</th>
            <th>Species</th>
            <th>Type</th>
            <th>Hp</th>
            <th>Attack</th>
            <th>Defence</th>
            <th>Speed</th>
        </tr>
        <% for(let i = 0 ; i < pokemons.length ; i++) {%>
        <tr>
            <td><%=i + 1%></td>
            <td><%= pokemons[i].name%></td>
            <td><%= pokemons[i].level%></td>
            <td><%= pokemons[i].species%></td>
            <td><%= pokemons[i].type%></td>
            <td><%= pokemons[i].hp%></td>
            <td><%= pokemons[i].attack%></td>
            <td><%= pokemons[i].defence%></td>
            <td><%= pokemons[i].speed%></td>
        </tr>
        <% } %>
    </table>
    <% } else {%>
        <h3>Please <a href="/trainer/login">login</a> first!</h3>
    <% } %>
</body>

</html>